# MATLAB
*.m~
*.asv
*.mat
*.fig
*.mlapp
*.mex*
slprj/
sldemo_*
coderepo/
_*

# Generated output (only created by the doSave guards in the entry scripts)
output/
outputs/

# System
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml
